@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.96 0.01 271.34);
    --foreground: oklch(0.21 0.03 263.61);
    --card: oklch(0.98 0.01 271.41);
    --card-foreground: oklch(0.21 0.03 263.61);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.21 0.03 263.61);
    --primary: oklch(0.48 0.20 260.47);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.91 0.02 274.06);
    --secondary-foreground: oklch(0.37 0.03 259.73);
    --muted: oklch(0.94 0.02 274.86);
    --muted-foreground: oklch(0.55 0.02 264.41);
    --accent: oklch(0.95 0.02 260.18);
    --accent-foreground: oklch(0.48 0.20 260.47);
    --destructive: oklch(0.58 0.22 27.29);
    --destructive-foreground: oklch(1.00 0 0); /* Added for safety */
    --border: oklch(0.89 0.02 259.43);
    --input: oklch(0.90 0.01 266.73);
    --ring: oklch(0.48 0.20 260.47);
    
    --radius: 0.375rem;

    --sidebar-background: oklch(0.97 0 0);
    --sidebar-foreground: oklch(0.21 0.03 263.61);
    --sidebar-primary: oklch(0.48 0.20 260.47);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.95 0.02 260.18);
    --sidebar-accent-foreground: oklch(0.48 0.20 260.47);
    --sidebar-border: oklch(0.93 0.01 261.82);
    --sidebar-ring: oklch(0.48 0.20 260.47);
  }

  .dark {
    --background: oklch(0.26 0.03 262.67);
    --foreground: oklch(0.93 0.01 261.82);
    --card: oklch(0.35 0.02 255.68);
    --card-foreground: oklch(0.93 0.01 261.82);
    --popover: oklch(0.35 0.02 255.68);
    --popover-foreground: oklch(0.93 0.01 261.82);
    --primary: oklch(0.56 0.24 260.92);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.35 0.04 261.40);
    --secondary-foreground: oklch(0.93 0.01 261.82);
    --muted: oklch(0.30 0.03 260.51);
    --muted-foreground: oklch(0.71 0.02 261.33);
    --accent: oklch(0.33 0.04 264.63);
    --accent-foreground: oklch(0.93 0.01 261.82);
    --destructive: oklch(0.64 0.21 25.39);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.35 0.04 261.40);
    --input: oklch(0.35 0.04 261.40);
    --ring: oklch(0.56 0.24 260.92);

    --sidebar-background: oklch(0.26 0.03 262.67);
    --sidebar-foreground: oklch(0.93 0.01 261.82);
    --sidebar-primary: oklch(0.56 0.24 260.92);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.33 0.04 264.63);
    --sidebar-accent-foreground: oklch(0.93 0.01 261.82);
    --sidebar-border: oklch(0.35 0.04 261.40);
    --sidebar-ring: oklch(0.56 0.24 260.92);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-[Poppins];
  }
}